n8n/Add Job.json
{
  "name": "Add Job",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/autopiahire/add-job",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1424,
        -48
      ],
      "id": "17da56b8-69b3-4840-b125-c2d41a867579",
      "name": "Webhook1",
      "webhookId": "085a9f31-e230-4220-8b22-96ba80c02e24",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whiid7VC5CPCK8Yf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -864,
        160
      ],
      "id": "474a4182-bab0-4662-b98c-d549b406f5b4",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "VCXOaxYrXH4Jp1En",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -816,
        -48
      ],
      "id": "bc5a1c5f-8bf6-44d1-8e77-e6437aa0acf8",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "job_offers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.job_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1216,
        -48
      ],
      "id": "11441b24-8455-41e3-b121-320afa54496f",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "job_id",
                "value": "={{ $('Webhook1').item.json.body.job_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -672,
        160
      ],
      "id": "93971021-843c-465d-827d-b7e91719e084",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e55770b-a135-45a6-b0f1-aefa55a43e33",
              "name": "company_description",
              "value": "={{ $json.company_description }}",
              "type": "string"
            },
            {
              "id": "8d641bb3-92e2-4a17-a063-7532878694fa",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "7e15c8d5-e69d-4a42-8389-617106ee3acf",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "3b251db6-db60-430a-b3d8-bd9f83292432",
              "name": "responsibilities",
              "value": "={{ $json.responsibilities }}",
              "type": "string"
            },
            {
              "id": "605edea3-4f85-40c2-ab0f-823487039eb8",
              "name": "required_skills",
              "value": "={{ $json.required_skills }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -48
      ],
      "id": "4c44708f-52f7-42f9-8c0f-afe26e1d1cf9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        -48
      ],
      "id": "611e3b92-446c-42eb-a785-7c10c8a8f30d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b10e6229-8c0e-4c00-93d3-bfbd3345f912",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2ffcdbeb1787fd778faf5466eed975d1bd1db574504dc36640ba126d4d12bae"
  },
  "id": "vY9V4lF51R25cHEJ",
  "tags": []
}