n8n/Summarize.json
{
  "name": "Summarize",
  "nodes": [
    {
      "parameters": {
        "path": "autopiahire/summarize",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        544
      ],
      "id": "edc438d9-5ddf-4c42-822f-e8844558fd89",
      "name": "Webhook",
      "webhookId": "085a9f31-e230-4220-8b22-96ba80c02e24",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whiid7VC5CPCK8Yf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Certifications",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        272
      ],
      "id": "53812203-518a-49d6-be49-ad9b4d1f5a54",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "certifications",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        272
      ],
      "id": "0607ce21-81c7-4725-bf99-3523aea60d7f",
      "name": "Certifications",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Projects",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        432
      ],
      "id": "a15f78b4-ebd9-4d7e-a6d9-e34809da67ab",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Skills",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        592
      ],
      "id": "79eae994-7a91-44ac-b015-e79cd93fdf4f",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Experience",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        768
      ],
      "id": "ecdc788e-b272-47e7-a744-0c2192ac107b",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Education",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        944
      ],
      "id": "99a18be3-71bb-41eb-af24-57c153214109",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        448
      ],
      "id": "53ad797c-f569-448a-b3f2-8387161c0715",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a smart assistant whose job is to summarize a candidate’s résumé into a concise paragraph suitable for semantic job matching. Focus on extracting the candidate’s main role, top 10 relevant skills, and key experience. Ignore personal details, education dates, or unrelated information. \n\nStart the paragraph with \"I’m looking for…\" as if the candidate is describing their professional profile for the type of jobs they want. Use clear, professional language that can be embedded for similarity search with job offers.\n\nExample format:\n\"I’m looking for [main role] with skills in [skill1, skill2, …, skill10], and experience in [key experience points].\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        528
      ],
      "id": "5b42533e-14bc-4c52-8be1-73b2dbf7e397",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        720
      ],
      "id": "71f7ca8b-78d9-4b62-a98f-269f9f177b3b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "M9WlIEfpWrKhAxt3",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projects",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        432
      ],
      "id": "64c332a8-b462-4b9c-a7ab-53597227dcda",
      "name": "Projects",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "skills",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        592
      ],
      "id": "1a5f30aa-0f31-4dcd-9612-5134231763b6",
      "name": "Skills",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "experiences",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        768
      ],
      "id": "a8f22390-35b8-4edb-bcb1-613507415ece",
      "name": "Experience",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "education",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        944
      ],
      "id": "e65c4b04-c557-4d81-bfea-16acf4dc2b56",
      "name": "Education",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        128
      ],
      "id": "39a373c6-213f-4636-abcb-cded44d785af",
      "name": "Profile",
      "credentials": {
        "supabaseApi": {
          "id": "zsk4Lsu1xj8gdQKh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        528
      ],
      "id": "dd04f4a9-e3b5-473a-a0b8-0d1648b17f5d",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"summary\": \"LaTex Resume here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1008,
        720
      ],
      "id": "a9156a6c-8e45-472d-a3b3-52e4f9abf4b2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2cb5662-6000-4cfe-9b0c-1c440bc9dffa",
              "name": "headline",
              "value": "={{ $json.headline }}",
              "type": "string"
            },
            {
              "id": "34881916-471e-44f6-a01a-a49b045f0f84",
              "name": "bio",
              "value": "={{ $json.bio }}",
              "type": "string"
            },
            {
              "id": "6c9f7f56-1f7d-4500-94f4-dea1d6d946c9",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        128
      ],
      "id": "c1414dbe-e4d0-4729-bba7-17eb96e1198f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6deefb86-f096-46d2-9b53-a4eb95886b75",
              "name": "institution",
              "value": "={{ $json.institution }}",
              "type": "string"
            },
            {
              "id": "cf54da59-8f1d-4961-b186-a5b944d5d554",
              "name": "degree",
              "value": "={{ $json.degree }}",
              "type": "string"
            },
            {
              "id": "7312f883-99e2-4e27-8489-d51527429534",
              "name": "field_of_study",
              "value": "={{ $json.field_of_study }}",
              "type": "string"
            },
            {
              "id": "acbebca3-2bf5-4c6d-8144-f0775424d0d1",
              "name": "start_year",
              "value": "={{ $json.start_year }}",
              "type": "string"
            },
            {
              "id": "737ffe03-ba56-4739-a413-ed34f00035c3",
              "name": "end_year",
              "value": "={{ $json.end_year }}",
              "type": "string"
            },
            {
              "id": "88b4ed48-9703-4f27-9383-1b067304d7cd",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        944
      ],
      "id": "64b60e6d-647e-410c-8f2f-dd3fd122eb18",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44dcaeee-c02b-4784-ae8d-c4937281d98c",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        768
      ],
      "id": "8acf5919-7fbd-44a8-acfe-63ff052519d6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c6ae517-831e-43b9-b8ae-7f6155e4515f",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4ea7643e-fbbc-4ebe-9bc9-9b58ad2edaaf",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "14358c3a-4dfd-466f-bb4e-8597db91c4ab",
              "name": "level",
              "value": "={{ $json.level }}",
              "type": "string"
            },
            {
              "id": "aee5e9d4-bbe9-43ba-af49-a42c18505557",
              "name": "verified",
              "value": "={{ $json.verified }}",
              "type": "string"
            },
            {
              "id": "0b36d57d-095c-4fe0-9c50-b334c3dd9559",
              "name": "verification_source",
              "value": "={{ $json.verification_source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        592
      ],
      "id": "63b0ee74-175b-46fc-9a6c-20fc3641ecad",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43eff227-fb14-4121-9a77-eed0ee2240b9",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "14877f47-083c-490c-a164-8cd1b7859a5a",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "b1c55a46-ee37-493c-9b21-894eaf66286c",
              "name": "tech_stack",
              "value": "={{ $json.tech_stack }}",
              "type": "array"
            },
            {
              "id": "2d136e14-eb09-4f6b-bdd1-bfd202fb3e6e",
              "name": "role",
              "value": "={{ $json.role }}",
              "type": "string"
            },
            {
              "id": "5ac69ebc-809c-47bd-9542-251a0126b6a1",
              "name": "links",
              "value": "={{ $json.links }}",
              "type": "string"
            },
            {
              "id": "2f0b6248-038e-4d4e-97f2-255e2afd8b87",
              "name": "impact",
              "value": "={{ $json.impact }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        432
      ],
      "id": "772a0b90-0992-4058-9a86-a334fee673c4",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a78af73-4080-488d-b9c8-23c665d5cf86",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "2f46758d-e31c-4395-a58c-d29058ee2552",
              "name": "issuer",
              "value": "={{ $json.issuer }}",
              "type": "string"
            },
            {
              "id": "a5bc9eea-992f-4457-818e-ddbe583ae14e",
              "name": "year",
              "value": "={{ $json.year }}",
              "type": "string"
            },
            {
              "id": "24d3c684-0c61-4a7a-97e4-5782fc9f474d",
              "name": "credential_url",
              "value": "={{ $json.credential_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        272
      ],
      "id": "ad0ab4fc-ac27-422a-899f-76b70c89deaf",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"summary\": \"{{ $('Basic LLM Chain').item.json.output.summary}}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1344,
        528
      ],
      "id": "dbc29054-6a69-4ab8-b804-d7d24a3b954f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Certifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Projects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Skills",
            "type": "main",
            "index": 0
          },
          {
            "node": "Experience",
            "type": "main",
            "index": 0
          },
          {
            "node": "Education",
            "type": "main",
            "index": 0
          },
          {
            "node": "Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Certifications": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Projects": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experience": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Education": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a59c1bc3-1c8c-4056-a8be-6279451466a5",
  "meta": {
    "instanceId": "b2ffcdbeb1787fd778faf5466eed975d1bd1db574504dc36640ba126d4d12bae"
  },
  "id": "pSmuzKeeqT1j4Vyr",
  "tags": []
}